* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
background-color:#fbac7b;
font-family:"Poppins", sans-serif;
color:#070707;
display:flex;

}
.body img{
    margin-left: auto;
    width:350px;
    height:450px;
    display:flex;
    margin-left:auto;
}
.hhead{
    font-size:40px;
    padding-top: -10px;
}
.head{
    font-size: 18px;
    max-width: 70%;
    margin-top: 20%;
    justify-content: center;
    padding: 20px;
}
header{
    background-color: #ff4530;
    width:100%;
    top:0;
    left:0;
    position:fixed;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 5%;
}
nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10%;
    width:95%;
    padding:10px;
}
.navlinks{
    margin-left:auto;
    display:flex;
    align-items:center;
}
.navlinks ul{
    display:flex;
    list-style-type: none;
    gap:8%;
}
.navlinks a{
    text-decoration: none;
    color:#ffffff;
}
.navlinks a:hover{
    text-decoration: underline 0.15rem;
    font-style:italic;
}
.logo{
    font-size: 20px;
    display:flex;
    gap:10px;
}
.logo img{
    width:30px;
    height:28px;
    border-radius: 5px;
}
.body{
    padding: 20%;
    justify-content: center;
    padding:80px 5%;
	
}
.button{
    padding:5px;
}
.button button{
    font-size: 20px;
    color:#ffffff;
    padding:10px;
    border:none;
    border-radius: 0;
    background-color:#fb1900;
}
.button button:hover{
    text-decoration: underline 0.15rem;
    color:#000000;
    background-color: #fd6453;
    font-style: italic;
}
.face{
    display:flex;
    flex-direction:row;
}

@media(max-width:768px){
    .navlinks ul{
        flex-direction:column;
        gap: 15px;
    }
.navlinks{
    position: absolute;
    right:5%;
    top:60px;
    background-color: #ff4530;
    padding:10px;
}
}

.about{
padding-top: 20px;
    display:flex;
flex-direction: row;
	gap:5%;
    
}
.box{
	max-width: 600px;
	height: 150px;
	border: solid 2px;
	border-radius: 5px;
	padding: 20px;
}
.form{
	padding-top: 20px;
}

@media(max-width:1080px){
	.about{
		display: flex;
		flex-direction: column;
		padding-top: 5%;
		gap: 10px;
	}
	.box{
		max-width: 100%;
		max-height: 100px;
}
